<div id="main-view">
    <div id="content">
        <table id="comment-view" class="table table-condensed">

        </table>
    </div>
    
    <nav id="main-nav" class="navbar navbar-inverse navbar-fixed-bottom">
        <ul class="nav navbar-nav navbar-left">
            <li class="dropup" data-ch-selecter>
                <a href="#" data-toggle="dropdown" title="チャンネルを選択しましょう">チャンネル <b class="caret"></b></a>
                
                <ul id="channel-switcher" class="dropdown-menu">
                    <% _.each(nsenChannels, function (ch) { %>
                    <li>
                        <a href="#" data-ch="<%= ch.id %>"><%= ch.name %></a>
                    </li>
                    <% }) %>
                </ul>
            </li>
            
            <li class="custom-nav-skip">
                <a href="#" title="Skip Request" data-send-skip>
                    <span class="response-indicator"></span>
                    <span class="glyphicon glyphicon-forward"></span>
                </a>
            </li>
            <li class="custom-nav-good">
                <span class="response-indicator"></span>
                <a href="#" title="Good!" data-send-good><span class="glyphicon glyphicon-thumbs-up"></span></a>
            </li>
        </ul>
        
        <form id="comment-poster" class="navbar-form navbar-left">
            <div class="input-group nco-comment-group">
                <input type="text" class="form-control" name="comment" placeholder="コメントを入力...">
                
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        投稿
                    </button>
                </span>
            </div>
        </form>
    </nav>
</div>