<div id="main-view">
    <header id="nco-window-head">
        <ul class="nco-window-nav basic">
            <li data-action="close">&times;</li>
            <li data-action="minimize">&#95;</li>
        </ul>
        
        <ul class="nco-window-nav ex">
            <li class="dropdown nco-window-nav-channel" data-ch-selecter>
                <a href="#" data-toggle="dropdown" title="チャンネルを選択しましょう">チャンネル</a>
                
                <ul id="nco-channel-switcher" class="dropdown-menu">
                    <% _.each(nsenChannels, function (ch) { %>
                    <li>
                        <a href="#" data-ch="<%= ch.id %>"><%= ch.name %></a>
                    </li>
                    <% }) %>
                </ul>
            </li>
            
            <li class="window-nav-item-lock" data-action="pin" title="ウィンドウを最前面に固定" data-placement="bottom" data-tooltipin>
                <a href="#"><span class="glyphicon glyphicon-pushpin"></span></a>
            </li>
        </ul>
    </header>
    
    <div id="content">
        <table id="comment-view" class="table table-condensed">

        </table>
    </div>
    
    <div id="nco-dialog-request-selection">
        <!-- views/RequestSelectionModal.js が内容を挿入 -->
    </div>
    
    <nav id="nco-main-nav" class="navbar navbar-inverse navbar-fixed-bottom">
        <ul class="nav navbar-nav navbar-left">
            <li class="custom-nav-skip">
                <a href="#" title="Skip Request" data-send-skip data-tooltipin>
                    <span class="response-indicator"></span>
                    <span class="glyphicon glyphicon-forward"></span>
                </a>
            </li>
            <li class="custom-nav-good">
                <span class="response-indicator"></span>
                <a href="#" title="Good!" data-send-good data-tooltipin><span class="glyphicon glyphicon-thumbs-up"></span></a>
            </li>
            <li class="custom-nav-mylist dropup" data-add-mylist>
                <span class="response-indicator"></span>
                <a href="#" title="マイリストへ追加" data-toggle="dropdown" data-tooltipin>
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    
                </ul>
            </li>
            <li class="custom-nav-request pull-right" data-send-request>
                <a href="#" title="リクエスト" data-tooltipin>
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </li>
        </ul>
        
        
        <form id="comment-poster" class="navbar-form navbar-left">
            <div class="input-group nco-comment-group">
                <div class="nco-comment-subpanel">
                    <label class="checkbox-inline"><input type="checkbox" name="184" maxlength="120">184コメント</label>
                </div>
                
                <div class="nco-comment-error">
                </div>
                
                <input type="text" class="form-control nco-form-comment" name="comment" placeholder="コメントを入力...">
                
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        投稿
                    </button>
                </span>
            </div>
        </form>
    </nav>
</div>