@keyframes NcoNotifierSlidein
    0%
        transform translateY(-100%)
    10%
        transform translateY(0%)
    90%
        transform translateY(0%)
    100%
        transform translateY(-100%)

@keyframes NcoModalShow
    from
        opacity 0
        transform translateY(-100%)

    to
        opacity 1
        transform translateY(0)
