@keyframes NcoNotifierSlidein
    from
        transform translateY(-100%)
    to
        transform translateY(0%)

@keyframes NcoModalShow
    from
        opacity 0
        transform translateY(-100%)

    to
        opacity 1
        transform translateY(0)
