//$color_main =
$color_bg       = #fff
//$color_accent   = hsl(0, 52%, 33%)
$color_accent   = hsl(270, 50%, 30%)
//$color_base     = hsl(210, 29%, 24%)
$color_main     = hsl(190, 90%, 50%)
$color_dummy    = #f8f8f8
$color_text     = #000

$fsz_sm       = 14px
$fsz_nm       = 16px
$fsz_lg       = 18px
$fsz_lg2      = 22px

// 標準カラー
$color_primary  = hsl(190, 100%, 50%)
$color_danger   = hsl(0, 90%, 60%)
$color_warn     = hsl(45, 90%, 60%)
$color_success  = hsl(100, 70%, 50%)
$color_static   = hsl(200, 92%, 60%)

// チャンネルカラー
$color_ch_vocaloid    = hsl(168, 100%, 50%)
$color_ch_toho        = hsl(0, 100%, 50%)
$color_ch_hotaru      = hsl(250, 100%, 30%)
// TODO 他のチャンネルはあとで

// シェル
$shell_close    = $color_danger
$shell_minimize = $color_warn //hsl(200, 80%, 60%)
$shell_maximize = $color_success
$shell_pin      = $color_static
$shell_icon     = rgba(#454545, 0.5)

// コマンドバー
$cmd_skip       = $color_warn
$cmd_default    = $color_static
$cmd_reload     = $color_success
