//$color_main =
$color_bg       = #fff
//$color_accent   = hsl(0, 52%, 33%)
$color_accent   = hsl(270, 50%, 30%)
//$color_base     = hsl(210, 29%, 24%)
$color_main     = hsl(180, 60%, 60%)
$color_dummy    = #f8f8f8
$color_text     = #000

$fsz_sm       = 14px
$fsz_nm       = 16px
$fsz_lg       = 18px
$fsz_lg2       = 22px

$color_primary  = hsl(190, 100%, 50%)
$color_danger   = hsl(10, 100%, 50%)

$shell_close    = hsl(0, 80%, 60%)
$shell_minimize = hsl(45, 80%, 60%) //hsl(200, 80%, 60%)
$shell_maximize = hsl(100, 80%, 60%)
$shell_pin      = hsl(0, 0%, 60%)
