form.NcoForm.NcoRequest_putMovieId
    .NcoRequest_putMovieId_header 動画IDを入力
    
    .NcoForm_group
        input.NcoForm_input(type="text" name="movieId" placeholder="動画ID / 動画URL")

    .cfx
        button.left.NcoForm_submit リクエスト
        .left.NcoForm_message.NcoRequest_putMovieId_message
