//- under the #nco-shell
.NcoShell
    .NcoShell_nelchan
        select.NcoShell_nelchan_select
            //- insert options in view.coffee

    .NcoShell_ctrl
        button.NcoShell_ctrl_btn.close
        button.NcoShell_ctrl_btn.maximize
        button.NcoShell_ctrl_btn.minimize
        button.NcoShell_ctrl_btn.pin
