//- under the #nco-shell
.NcoShell
    .NcoShell_nelchan
        select.NcoShell_nelchan_select
            option(value="nsen/vocaloid") ch01 VOCALOID
            option(value="nsen/toho") ch02 東方
            option(value="nsen/hotaru") ch99 つくみんかわいい

    .NcoShell_ctrl
        button.NcoShell_ctrl_btn.close
        button.NcoShell_ctrl_btn.maximize
        button.NcoShell_ctrl_btn.minimize
        button.NcoShell_ctrl_btn.pin
