<tr class="vc-notify" style="background-color: #fff;">
    <td colspan="99" style="overflow: hidden;">
        <div class="clearfix" style="margin: 0; padding: 5px;">
            <img class="pull-left thumbnail" src="<%= thumbnail %>" style="vertical-align: middle; margin-bottom: 0;">
            
            <div class="pull-left" style="display: inline-block; margin-left: .5em; margin-top: .55em;">
                <h4 style="margin-top: 0;">再生中</h4>
                <p>
                    <span style="font-style: italic;"><%= title %></span>
                </p>
                <p>
                    <small>
                        View: <i><%= count.view %></i>&nbsp;&nbsp;
                        Comment: <i><%= count.comments %></i>&nbsp;&nbsp;
                        MyList: <i><%= count.mylist %></i>&nbsp;&nbsp;
                    </small>
                </p>
            </div>
            
        </div>
    </td>
</tr>