@import url("bootstrap/bootstrap.less");

@base-color: #fff;
@main-color: hsl(210, 29%, 24%);
@accent-color: hsl(0, 52%, 33%);

/**
 * WebFonts
 */
@font-face {
    font-family: mplus-2p-regular;
    src: url('../fonts/mplus-2p-regular.ttf')
         format("truetype");
}

@font-face {
    font-family: mplus-1p-regular;
    src: url('../fonts/mplus-1p-regular.ttf')
         format("truetype");
}

@font-face {
    font-family: mplus-1p-light;
    src: url('../fonts/mplus-1p-light.ttf')
        format("truetype");
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background-color: @base-color;
    
    font-family: 'ヒラギノ角ゴ Pro W3',
                 'Hiragino Kaku Gothic Pro',
                 'メイリオ',
                 Meiryo,
                 mplus-1p-regular
                 'ＭＳ Ｐゴシック',
                 sans-serif;
}

a,
a:focus,
a:active {
    outline: none;
}

#main-view {
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    
    width: 100%;
    height: 100%;
}

/**
 * ナビゲーション
 */
#main-nav {
    order: 2;
    position: relative;
    border: none;
    
    font-family: mplus-1p-light;
    
    color: @base-color;
    background-color: @main-color;
    
    .navbar-nav {
        padding: 0 5px;
    }
    
    .navbar-nav > li {
        float: left;
        
        transition: background-color .1s ease-in;
        
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    
    .navbar-nav > li > a {
        color: #fff;
    }
    
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    
    .navbar-nav > .open > a,
    .navbar-nav > .open > a:hover,
    .navbar-nav > .open > a:focus {
        background-color: darken(@main-color, 10%);
    }
    
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        background-color: lighten(@main-color, 60%);
    }
    
    .dropdown-menu > .active {
        position: relative;
        
        &::before {
            content: '';
            position: absolute;
            top: 8px;
            left: 8px;
            z-index: 10;
            border: 5px solid white;
            border-color: transparent transparent transparent white;
        }
        
        & > a {
            background-color: lighten(@main-color, 10%);
        }
    }
    
    .custom-nav-good {
        margin-left: .5em;
    }
    
    .custom-nav-skip {
        margin-left: 1em;
        background-color: @accent-color;
    }
}

@media (max-width: @screen-sm-min) {
    #main-nav {
        .navbar-nav {
            margin: 0;
        }
        
        .navbar-form {
            margin-top: 0;
        }
        
        .navbar-nav .open .dropdown-menu {
            position: absolute;
            width: auto;
            margin-top: 2px;
            background-color: #fff;
            border: 1px solid #cccccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 0;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
        }
        
        .navbar-nav .open .dropdown-menu > li > a {
            color: #333;
        }
        
        .navbar-nav .open .dropdown-menu > .active > a,
        .navbar-nav .open {
            color: #fff;
        }
        
        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 1.42857143;   
        }
        
        .dropdown-menu > li > a {
            color: #fff;
        }
    }
}

/**
 * コメント入力欄
 */
.nco-comment-group {
    width: 100%;
    padding: 0 5px;
    transition: width .2s ease-out;
    
    input {
        font-size: 0.85em;
        
        color: #fff;
        background-color: transparent;
        background-color: lighten(@main-color, 10%);
        border-color: transparent !important;
        box-shadow: none;
        border-radius: 0;
        
        transition: .2s ease-out;
        transition-property: background-color, color;
        
        &::-webkit-input-placeholder {
            color: #ccc;
        }
    }
    
    .btn-default {
        display: none;
        margin-left: -4em;
        
        background-color: transparent;
        border-color: transparent;
        
        transition: .2s ease-out;
        transition-property: background-color, margin-left;
    }
    
    &.focus {
        
        input {
            color: #000;
            background-color: #fff;
            
            &::-webkit-input-placeholder {
                color: #999;
            }
        }
        
        .btn-default {
            display: inline-block;
            margin-left: 0;
            background-color: #fff;
            
            &:hover, &:active, &:hover {
                background-color: lighten(@main-color, 60%);
            }
        }
    }
}

 @media (min-width: @screen-sm-min) {
     .nco-comment-group {
        width: 16em;
        margin: 0;

        &.focus {
            width: 25em !important;
        }
    }
 }

/**
 * コンテンツ
 */
#content {
    order: 1;
    -webkit-box-flex: 1.0;
    overflow: auto;
}

#comment-view {
    padding-bottom: 20px;
    
    [data-mypost] {
        background-color: #ffa;
    }
}

