@import url("bootstrap/bootstrap.less");

@base-color: #fff;
@main-color: hsl(210, 29%, 24%);
@accent-color: hsl(0, 52%, 33%);
@text-color: #333;

/**
 * WebFonts
 */
@font-face {
    font-family: mplus-2p-regular;
    src: url('../fonts/mplus-2p-regular.ttf')
         format("truetype");
}

@font-face {
    font-family: mplus-1p-regular;
    src: url('../fonts/mplus-1p-regular.ttf')
         format("truetype");
}

@font-face {
    font-family: mplus-1p-light;
    src: url('../fonts/mplus-1p-light.ttf')
        format("truetype");
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background-color: @base-color;
    
    font-family: 'ヒラギノ角ゴ Pro W3',
                 'Hiragino Kaku Gothic Pro',
                 'メイリオ',
                 Meiryo,
                 mplus-1p-regular
                 'ＭＳ Ｐゴシック',
                 sans-serif;
    color: @text-color;
}

a,
a:focus,
a:active {
    outline: none;
}

#main-view {
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    
    width: 100%;
    height: 100%;
    
    border: 3px solid @main-color;
    border-top-width: 0;
    border-bottom-width: 0;
}

/**
 * ヘッダ
 */
#nco-window-head {
    order: 1;
    height: 30px;
    background: @main-color;
    
    color: white;
    
    -webkit-user-select: none;
    -webkit-app-region: drag;
    
    .nco-window-nav {
        .clearfix;
        .list-unstyled;
        //list-style: none
        
        //-webkit-app-region: no-drag;
        
        &.basic { float: left; }
        &.ex { float: right; }
        
        > li {
            height: 30px;
            padding: 0 20px;
            float: left;

            line-height: 30px;
            cursor: default;
            
            -webkit-app-region: no-drag;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
        
        .window-nav-item-lock {
            padding: 0 10px;
            line-height: 34px;
            cursor: pointer;
            
            a {
                color: white;
            }

            &.lock a {
                color: @brand-primary;
            }
        }
    }
}

.platform-win #nco-window-head {
    .nco-window-nav {
        &.basic {
            float: right;
            
            li { float: right;}
        }
        
        &.ex { float: left;}
    }
}

/**
 * コンテンツ
 */
#content {
    order: 1;
    -webkit-box-flex: 1.0;
    overflow: auto;
}

#comment-view {
    padding-bottom: 20px;
    
    [data-mypost] {
        background-color: #ffa;
    }
    
    .nco-comment-item {
        display: block;
        padding: 0;
        margin: 0;
        font-family: inherit;
        font-size: 14px;
        line-height: 1.42857143;
        word-break: break-all;
        word-wrap: break-word;
        color: @text-color;
        background-color: transparent;
        border: none;
        border-radius: 0;
    }
}

/**
 * ナビゲーション
 */
#main-nav {
    order: 2;
    position: relative;
    border: none;
    
    font-family: mplus-1p-light;
    
    color: @base-color;
    background-color: @main-color;
    
    -webkit-user-select: none;
    
    .navbar-nav {
        padding: 0 5px;
    }
    
    .navbar-nav > li {
        float: left;
        
        transition: background-color .1s ease-in;
        
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    
    .navbar-nav > li > a {
        color: #fff;
    }
    
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    
    .navbar-nav > .open > a,
    .navbar-nav > .open > a:hover,
    .navbar-nav > .open > a:focus {
        background-color: darken(@main-color, 10%);
    }
    
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        background-color: lighten(@main-color, 60%);
    }
    
    .dropdown-menu > .active {
        position: relative;
        
        &::before {
            content: '';
            position: absolute;
            top: 8px;
            left: 8px;
            z-index: 10;
            border: 5px solid white;
            border-color: transparent transparent transparent white;
        }
        
        & > a {
            background-color: lighten(@main-color, 10%);
        }
    }
    
    .nco-form-comment {
        -webkit-user-select: element;
    }
    
    .response-indicator {
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        height: 30px;

        width: 100%;
        
        transition: .15s ease-out;
        transition-property: background-color, opacity;
    }
    
    .custom-nav-good {
        margin-left: .5em;
        
        .response-indicator{
            background-image:
                -webkit-gradient(radial, center top, 0, center top, 20,
                    from(#4ef),
                    to(rgba(68, 238, 255, 0)));
            opacity: 0;
            
            &.active {
                opacity: 1;
            }
        }
    }
    
    .custom-nav-skip {
        margin-left: 1em;
        background-color: @accent-color;
        
        transition: background-color .2s ease-out;
        
        a {
            transition: color .2s ease-out;
        }
        
        &.disabled {
            background-color: transparent;
            
            a {
                color: #333;
            }
        }
        
        .response-indicator {
            background-image:
                -webkit-gradient(radial, center top, 0, center top, 20,
                    from(#f44),
                    to(rgba(255, 68, 68, 0)));
            opacity: 0;
            
            &.active {
                opacity: 1;
            }
        }
    }
    
    .custom-nav-mylist {
        &.open .dropdown-menu {
            left: 0;
            right: auto;
        }
        
        .dropdown-menu {
            width: auto;
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
            
            [data-id="default"] {
                position: sticky;
                bottom: 0;
            }
        }
    }
}

@media (max-width: @screen-sm-min) {
    #main-nav {
        .navbar-nav {
            margin: 0;
        }
        
        .navbar-form {
            margin-top: 0;
        }
        
        .navbar-nav .open .dropdown-menu {
            position: absolute;
            width: auto;
            margin-top: 2px;
            background-color: #fff;
            border: 1px solid #cccccc;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 0;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            background-clip: padding-box;
        }
        
        .navbar-nav .open .dropdown-menu > li > a {
            color: #333;
        }
        
        .navbar-nav .open .dropdown-menu > .active > a,
        .navbar-nav .open {
            color: #fff;
        }
        
        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 1.42857143;   
        }
        
        .dropdown-menu > li > a {
            color: #fff;
        }
        
        .navbar-nav .custom-nav-mylist.open .dropdown-menu {
            right: 0;
            left: auto;
        }
    }
}

/**
 * コメント入力欄
 */
.nco-comment-group {
    width: 100%;
    padding: 0 5px;
    margin-top:0;
    
    transition: .2s ease-out;
    transition-property: width, margin-top;
    backface-visibility: hidden;
    
    // コマンド、184など
    .nco-comment-subpanel {
        display: none;
        position: absolute;
        bottom: 100%;
        
        width: 100%;
        height: 40px;
        padding: 10px;
        margin-bottom: 5px;
    }
    
    .nco-comment-error {
        position: absolute;
        z-index: 10;
        
        display: block;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        
        background-color: fade(@main-color, 90%);
        opacity: 0;
        
        transition: .2s ease-out;
        transition-property: opacity;
        
        &.show {
            width: 100%;
            height: 100%;
            padding: 6px 12px;
            
            opacity: 1;
        }
    }
    
    .nco-form-comment {
        font-size: 0.85em;
        
        color: #fff;
        background-color: transparent;
        background-color: lighten(@main-color, 10%);
        border-color: transparent !important;
        box-shadow: none;
        border-radius: 0;
        
        transition: .2s ease-out;
        transition-property: background-color, color;
        
        &::-webkit-input-placeholder {
            color: #ccc;
        }
    }
    
    .btn-default {
        display: none;
        margin-left: -4em;
        
        background-color: transparent;
        border-color: transparent;
        
        transition: .2s ease-out;
        transition-property: background-color, margin-left;
    }
    
    &.focus {
        margin-top: 40px; // サブパネル用
        
        .nco-comment-subpanel {
            display: block;
        }
        
        .nco-form-comment {
            color: #000;
            background-color: #fff;
            
            &::-webkit-input-placeholder {
                color: #999;
            }
        }
        
        .btn-default {
            display: inline-block;
            margin-left: 0;
            background-color: #fff;
            
            &:hover, &:active, &:hover {
                background-color: lighten(@main-color, 60%);
            }
        }
    }
}
// デスクトップサイズ
 @media (min-width: @screen-sm-min) {
    .nco-comment-group {
        width: 16em;
        margin: 0;
         
        &.focus {
            margin-top: 0; // サブパネル
            
            .nco-comment-subpanel {
                top: auto;
                bottom: 100%;
                
                margin-bottom: 10px;
                background-color: @main-color;
            }
            
            width: 25em !important;
        }
    }
 }

