//- under the #nco-main
.NcoNotifier
    .NcoNotifier_item.info.
        再生中の動画
    //-
        .NcoNotifier_item.warn.
            Notify
        .NcoNotifier_item.info.
            Notify

ul.NcoComments
    li.NcoComments_item.
        あーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    li.NcoComments_item.
        おやや
    li.NcoComments_item.
        おやす
    li.NcoComments_item.
        おやすー
    li.NcoComments_item.
        結局ｃｄってなんすか東方君が使うあれですか
    li.NcoComments_item.
        キーボード見るとわかるかもよ
    li.NcoComments_item.
        キャッシュディスペンサーだよ
    li.NcoComments_item.
        初見さん！？
    li.NcoComments_item.
        仮面ライダーになるための基礎訓練だ
    li.NcoComments_item.
        アクティブ人数: 5
    li.NcoComments_item.
        仮面ライダーになるにはやっぱり運転免許は必要なんかね？
    li.NcoComments_item.
        こんばんきっき　　にとりは嫁
    li.NcoComments_item.
        ｃｄきっき
    li.NcoComments_item.
        中免さえあれば大丈夫
    li.NcoComments_item.
        きっと一妻多夫なんだよ
    li.NcoComments_item.
        フォークリフトの免許も必要だと聞いた
    li.NcoComments_item.
        仮面ライダーになるためにはオンドゥル語検定1級は必須だろ
