//- under the #nco-main
.NcoNotifier
    //-.NcoNotifier_item.info.
        再生中の動画
    //-
        .NcoNotifier_item.warn.
            Notify
        .NcoNotifier_item.info.
            Notify

ul.NcoComments
    //- li.NcoComments_item.
