//- under the #nco-control
//-.NcoControl
.NcoControl_request

.NcoControl_mylist

.NcoControl_actions
    button.NcoControl_actions_btn.skip.fa.fa-forward(title="Skip")
    button.NcoControl_actions_btn.good.fa.fa-thumbs-up(title="Good")
    button.NcoControl_actions_btn.mylist.fa.fa-star(title="Mylist")
    button.NcoControl_actions_btn.request.fa.fa-hand-o-right(title="Request")
    button.NcoControl_actions_btn.reload.fa.fa-refresh(title="リロード")
    button.NcoControl_actions_btn.openNsen.fa.fa-external-link(title="Nsenを開く")

.NcoControl_comment
    .NcoControl_comment_opt
        label.NcoControl_comment_opt_184
            input(type="checkbox", name="comment_184")
            | 184で投稿

    .NcoControl_comment_alert エラー
    textarea.NcoControl_comment_input(placeholder="コメント")
