//- under the #nco-control
.NcoControl
    .NcoControl_subControls

    .NcoControl_actions
        button.NcoControl_actions_btn.skip
        button.NcoControl_actions_btn.good
        button.NcoControl_actions_btn.mylist
        button.NcoControl_actions_btn.request
        button.NcoControl_actions_btn.reload

    .NcoControl_comment
        .NcoControl_comment_opt
            label.NcoControl_comment_opt_184
                input(type="checkbox")
                | 184で投稿

        .NcoControl_comment_alert
        textarea.NcoControl_comment_input(placeholder="コメント")
