//- under the #nco-control
//-.NcoControl
.NcoControl_request

.NcoControl_mylist

.NcoControl_actions
    button.NcoControl_actions_btn.skip.fa.fa-forward
    button.NcoControl_actions_btn.good.fa.fa-thumbs-up
    button.NcoControl_actions_btn.mylist.fa.fa-star
    button.NcoControl_actions_btn.request.fa.fa-hand-o-right
    button.NcoControl_actions_btn.reload.fa.fa-refresh
    button.NcoControl_actions_btn.openNsen.fa.fa-external-link

.NcoControl_comment
    .NcoControl_comment_opt
        label.NcoControl_comment_opt_184
            input(type="checkbox", name="comment_184")
            | 184で投稿

    .NcoControl_comment_alert エラー
    textarea.NcoControl_comment_input(placeholder="コメント")
