.NcoNowPlaying
    &_header
        margin-bottom 8px

    &_detailBox
        position relative
        display table-cell
        vertical-align middle

    &_thumb
        //width 65px
        height 50px
        margin-bottom 8px
        float left

    &_detail
        margin-left (65 + 16)px
        overflow hidden

        &_title
            display block
            margin-bottom 8px
            font-size 16px
            text-overflow ellipsis
            text-decoration none

        &_views
        &_comments
        &_mylist
            margin-bottom 2px
            margin-right 1em
            float left

            font-size 12px

        &_user
            margin-bottom 8px
            font-size 12px
