.NcoComments
    transition .4s transform

.NcoComments-request-opened
    transform translateY(-(24px * 7 + 32px))

.NcoRequest
    clearfix()

    position absolute
    bottom 100%

    // display none
    width 100%
    height (24px * 7) + 32px

    background-color rgba(white, .95)
    user-select none

    transform translateY(100%)
    transform-origin center bottom
    transition .4s transform

    &.show
        // display block
        transform translateY(0)


    &_header
        clearfix()

        height 32px
        padding 8px

        color white
        background-color #444//$color_static

        &_closing
            //.fa.fa-times
            display block
            width 16px
            height 16px
            float left

            font-size 12px !important
            text-align center
            line-height 16px !important
            text-indent -1px

            cursor pointer

            transition-property background-color
            transition .2s ease-out

            &:hover
                background-color $color_danger

        &_title
            display block
            margin-left 16px
            float left


    &_mylists
        width 12em
        height (24px * 7)
        float left
        overflow auto

        &::-webkit-scrollbar
            width 2px
            overflow hidden
            background #eee

        &::-webkit-scrollbar-thumb
            background #444

        &_list
            display block
            margin 0
            padding 0
            list-style none

        &_item
            display block
            padding 8px 8px  // below + above = 8px
            padding-right 4px
            overflow hidden
            border-right 4px solid transparent

            font-size 14px
            line-height 1
            white-space nowrap
            text-overflow ellipsis

            cursor pointer

            background-color transparent

            transition-property border-color
            //transition .05s ease-out

            &:hover, &.selected
                padding-right 4px
                border-color #444
                background-color #ccc

            &-inputMovieId
                background-color #eee


    &_movies
        height (24px * 7)
        overflow auto

        &::-webkit-scrollbar
            width 4px
            overflow hidden
            background #eee

        &::-webkit-scrollbar-thumb
            background $color_static

        &_list
            clearfix()

            display block
            margin 0
            padding 8px 0 0
            overflow hidden

            list-style none

        &_item
            position relative

            width 100px
            max-width 200px
            min-width 100px
            height 150px
            margin-left 16px
            margin-bottom 16px
            float left

            overflow hidden

            &.selected
                &::before
                    content "\f00c 再クリックでリクエスト"

                    position absolute
                    padding 4px

                    color white
                    font-size  14px
                    font-family FontAwesome, 'mplus-2p'

                    background-color rgba($color_static, .9)

            &.requested
                &::before
                    content "\f00c リクエスト中"

                    position absolute
                    padding 4px

                    color white
                    font-size  14px
                    font-family FontAwesome, 'mplus-2p'

                    background-color rgba($color_success, .9)

            &.alreadyRequested
                &::before
                    content "\f00c リクエスト中です！"

                    position absolute
                    padding 4px

                    color white
                    font-size  14px
                    font-family FontAwesome, 'mplus-2p'

                    background-color rgba($color_warn, .9)

            &.requesting
                &::before
                    content "\f00c リクエストを送信中..."

                    position absolute
                    padding 4px

                    color white
                    font-size  14px
                    font-family FontAwesome, 'mplus-2p'

                    background-color rgba($color_primary, .9)

            &_thumb
                display block
                width 100%
                max-width 150px

            &_title
                font-size 14px

    &_requesting
        padding-left 8px

        .NcoForm
            padding 0

        &_header
            margin-top 0
            margin-bottom 16px

            font-size 16px
            font-weight normal

        &_body
            padding-left 130px

        &_thumb
            margin-left -130px
            margin-right 8px
            float left

            vertical-align top

        &_title
            margin-bottom 8px
            font-weight bold

        &_id
            color #aaa

    &_putMovieId
        padding 0 8px

        &_header
            margin-top 0
            margin-bottom 16px

            font-size 16px
            font-weight normal

        &_message
            padding 12px 0
            margin-left 16px

            color $color_warn
