doctype html
html
    head
        meta(charset="UTF-8")
        title Nco

        link(rel="stylesheet", href="css/nco.css")
        link(rel="stylesheet", href="css/jquery.powertip.min.css")
        link(rel="stylesheet", href="css/font-awesome.min.css")

        script(src="js/main.js")
        script(src="js/jquery.powertip.min.js")
    body
